################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/IoTSharp.nanoDevice
/bin/Debug/ @ COM8 - 1.4.554.0.dumpcache
/bin/Debug
/obj/Debug
/packages
